{{ if .client }}
  {{ range sort (where .page.Site.Data.clients  "name" .client) "name" }}
    {{ template "do_client_logo" (dict "client" . "page" $) }}
  {{ end }}
{{ else }}
  {{ range sort .page.Site.Data.clients "name" }}
    {{ template "do_client_logo" (dict "client" . "page" $) }}
  {{ end }}
{{ end }}

{{ define "do_client_logo" }}
{{ with .client }}
  {{ if .logo }}
  {{ $style := "" }}
  {{ $template := printf "%s%s" "current-" .logo  }}
  {{ if ne $.page.currentColor true}}
  {{ $style = printf "%s%s%s" "style=\"color: " .logo_color " ;\"" }}
  {{ $template = printf "%s%s" "logo-" .logo  }}
  {{ end }}

  <div class="{{ $.page.parent_div_class }}">

    {{ if in .logo "svg" }}
    <div class="{{ $.page.image_div_class }}" {{ printf "%s" $style }}>
        {{- $linkSVG := resources.Get .logo | resources.ExecuteAsTemplate $template (dict "style" $style ) | minify | fingerprint -}}
        <img src="{{ $linkSVG.RelPermalink }}">
    </div>
    {{ else }}
    <div class="img-fluid mt-2" style="vertical-align:middle;">
        <img src="{{ .logo | absURL }}">
    </div>
    {{ end }}

  </div>
  {{ end }}
{{ end }}
{{ end }}
