<!-- FEATURES
================================================== -->
{{ with .feature }}
  {{ if .enabled }}
    {{ if eq .feature_type "card-1"}}
    <section class="pt-8 pt-md-11">
      <div class="container">
        <div class="row justify-content-center">
          <div {{ if .id }}id="{{ .id }}"{{ end}} class="col-12 col-md-10 col-lg-8 text-center">

            <!-- Preheading -->
            <h6 class="text-uppercase text-gray-500 font-weight-bold">
              {{ .preheading }}
            </h6>

            <!-- Heading -->
            <h1 class="font-weight-bold">
              {{ .heading }}
            </h1>

            <!-- Text -->
            <p class="font-size-lg text-muted mb-7 mb-md-9">
              {{ .text }}
            </p>

          </div>
        </div> <!-- / .row -->

        {{ if .item }}
        <div class="row no-gutters mb-7 mb-md-9">
          {{ range $idx, $item := .item }}
          <div class="col-12 col-md-4 text-center">

            <div class="row mb-5">
              <div class="col">

                <!-- Placeholder -->

              </div>
              <div class="col-auto">

                <!-- Icon -->
                <div class="icon text-primary mb-3">
                  {{ partial "theme/svg" (dict "svg" $item.icon) }}
                </div>

              </div>
              <div class="col">

                <!-- Divider -->
                <hr class="d-none d-md-block">

              </div>
            </div> <!-- / .row -->

            <!-- Headin -->
            <h3 class="font-weight-bold">
              {{ $item.heading }}
            </h3>

            <!-- Text -->
            <p class="text-muted mb-6 mb-md-0">
              {{ $item.text }}
            </p>

          </div>
          {{ end }}
        {{ end }}
        </div> <!-- / .row -->
        <div class="row">
          <div class="col-12">

            <!-- Text -->
            <!-- <p class="font-size-sm text-center text-gray-500 mb-0">
              * Some integrations require a custom API
            </p> -->

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>
    {{ end }}

    <!-- ABOUT
    ================================================== -->
    {{ if eq ( substr .feature_type 0 5 ) "about"}}
    <section class="pt-8 pt-md-11 bg-gradient-light">
      <div class="container">
        {{ if eq .feature_type "about-1"}}
        <div class="row align-items-center justify-content-between mb-8 mb-md-11">
          <div {{ if .id }}id="{{ .id }}"{{ end}} class="col-12 col-md-6 order-md-2" data-aos="fade-left">

            <!-- Heading -->
            <h1>
              {{ .heading | safeHTML }}
            </h1>

            <!-- Text -->
            <h2 class="text-muted mb-6">
              {{ .text | safeHTML }}
            </h2>

          </div>
          <div class="col-12 col-md-6 col-lg-5 order-md-1" data-aos="fade-right">

            <!-- Card -->
            <div class="card card-border border-success shadow-lg mb-5" data-aos="fade-up">
              <div class="card-body">

                <!-- List group -->
                {{ if .item }}
                <div class="list-group list-group-flush">
                  {{ range $idx, $item := .item }}
                  <div class="list-group-item d-flex align-items-center">

                    <!-- Text -->
                    <div class="mr-auto">

                      <!-- Heading -->
                      <p class="font-weight-bold mb-1">
                        {{ .heading }}
                      </p>

                      <!-- Text -->
                      <p class="font-size-sm text-muted mb-0">
                        {{ .text }}
                      </p>

                    </div>

                    <!-- Check -->
                    <div class="badge badge-rounded-circle badge-success-soft ml-4">
                      <i class="fe fe-check"></i>
                    </div>

                  </div>
                  {{ end }}
                </div>
                {{ end }}

              </div>
            </div>

          </div>
        </div> <!-- / .row -->
        {{ end }}

        {{ if eq .feature_type "about-2"}}
        <div class="row align-items-center">
          <div {{ if .id }}id="{{ .id }}"{{ end}} class="col-12 col-md-7 col-lg-6" data-aos="fade-right">

            <!-- Heading -->
            <h2>
              {{ .heading | safeHTML }}
            </h2>

            <!-- Text -->
            <p class="font-size-lg text-muted mb-6">
              {{ .text | safeHTML }}
            </p>

            <!-- List -->
            {{ range $idx, $item := .item }}
            <div class="d-flex">

              <!-- Icon -->
              <div class="icon text-primary">
                {{ partial "theme/svg" (dict "svg" $item.icon) }}
              </div>

              <div class="ml-5">

                <!-- Heading -->
                <h4 class="mb-1">
                  {{ .heading }}
                </h4>

                <!-- Text -->
                <p class="text-muted mb-6 {{ if $idx }}mb-md-0{{ end }}">
                  {{ .text }}
                </p>

              </div>

            </div>
            {{ end }}
          </div>
          <div class="col-12 col-md-5 col-lg-6">

            <div class="w-md-150 w-lg-130 position-relative" data-aos="fade-left">

              <!-- Shape -->


              <!-- Image -->
              <div class="img-skewed img-skewed-left">
                <!-- Image -->
                <img src="{{ $.feature.image }}" class="screenshot img-fluid img-skewed-item" alt="...">

              </div>

            </div>

          </div>
        </div> <!-- / .row -->
        {{ end }}
      </div> <!-- / .container -->
    </section>
    {{ end }}

    {{ if eq .feature_type "pricing-1"}}
    <!-- STATS
    ================================================== -->
    <section {{ if .id }}id="{{ .id }}"{{ end}} class="py-12 py-md-13 bg-gray-200">
      <div  class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-8 text-center">

            <!-- Preheading -->
            <!-- <h6 class="text-uppercase text-gray-500 font-weight-bold">
              Managed Service by Full 360
            </h6> -->

            <!-- Heading -->
            <h1 class="font-weight-bold">
              {{ .heading | safeHTML }}
            </h1>

            <!-- Text -->
            <p class="font-size-lg text-muted mb-7 mb-md-9">
              {{ .text | safeHTML }}
            </p>

          </div>
        </div> <!-- / .row -->
        <div class="row">
          {{ range $idx, $item := .item }}
          <div class="col-12 col-md-4" data-aos="fade-up" data-aos-delay="50">
            <!-- Card -->
            <div class="card shadow-light-lg mb-6 mb-md-0 lift lift-lg">
              <div class="card-body">

                <!-- Badge -->
                <span class="badge badge-pill badge-primary-desat badge-float badge-float-outside">
                  {{ .badge }}
                </span>

                <!-- Heading -->
                <h4 class="font-weight-bold">
                  {{ .heading }}
                </h4>

                <!-- Text -->
                <p class="text-muted">
                  {{ .text | safeHTML }}
                </p>

                <!-- Link -->
                <!-- <a href="{{ .RelPermalink }}" class="font-size-sm font-weight-bold text-decoration-none">
                  Start a 30-day trial <i class="fe fe-arrow-right ml-3"></i>
                </a> -->

              </div>
            </div>
          </div>
          {{ end }}
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>
    {{ end }}

  {{ end }}
{{ end }}
