<section class="py-2 py-md-2 bg-warning">
  <div class="container">
  <div/>
</section>

<section class="py-5 py-md-9 bg-dark" style="background-image: url(/img/patterns/pattern-1.svg);">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-8 text-center">

            <!-- Badge -->
            <span class="badge badge-pill badge-gray-700-soft mb-3">
              <span class="h6 text-uppercase">New York ▪️ Sydney ▪️ Melbourne ▪️ Bogota</span>
            </span>

            <!-- Heading -->
            <h1 class="display-4 text-white">
              Enterprise Cloud Enablement
            </h1>

            <!-- Text -->
            <p class="font-size-lg text-muted mb-6 mb-md-8">
                Fanatical Dedication to fulfilling the Cloud's Promise, Mastering its complexity, and Delivering the Impossible.
            </p>

            <!-- Button -->
            {{ partial "email-cta" (dict "text" "Learn how we are different" "width" "90%" "customClass" "inverted") }}


          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>
