{{ with .home.hero }}
  {{ if .enable }}
  <!-- pick the heading -->
  {{ $heading := $.page.Title }}
  {{ if .heading }}
  {{ $heading = .heading }}
  {{ else if $.page.Params.hero_heading }}
  {{ $heading = $.page.Params.hero_heading }}
  {{ end }}

  <!-- WELCOME
  ================================================== -->
  {{ if eq .type "carousel" }}
  <section class="pb-11 pt-16 pt-md-15 bg-{{ .Site.Data.defaults.body_background }} bg-between">
    <div class="container">
      <div class="row align-items-center py-5">

        <div class="col-12 {{- if .carousel }} col-md-7 col-lg-6 {{- end }}" data-aos="fade-up">

          <!-- Heading -->
          <h1 class="display-2 font-weight-bold">
          {{ $heading }}
          </h1>

          <!-- Text -->
          <p class="font-size-lg text-muted mb-6 mb-md-8">
            {{ .text | default $.page.Params.text |safeHTML }}
          </p>

          <!-- Buttons -->
          {{ if .button }}
          {{ $calendlyScriptTemplate := "Calendly.initPopupWidget({url: '%s'});return false;" }}
          <div class="text-center text-md-left">
            {{ range $idx, $e := .button }}
            <a 
              href="
                {{- if not $e.calendly -}}
                  {{ $e.link }}
                {{- end -}}
              " class="btn
                {{- if $e.cta }} btn-primary shadow mr-1
                {{- else }} btn-primary-soft
                {{- end}} lift"
              {{- if .datatoggle }} data-toggle="{{ .datatoggle }}"
              {{- end }}
              {{- if $e.calendly }} onclick="{{ printf $calendlyScriptTemplate $e.link | safeJS }}"
              {{- end -}} 
            >
              {{ $e.txt }}
              {{- if $e.cta }}<i class="fe fe-arrow-right d-none d-md-inline ml-3"></i>{{ end }}
            </a>
            {{ end }}
          </div>
          {{ end }}
        </div>

        {{ if .carousel }}
        <div class="col-12 col-md-5 col-lg-6 mt-6 mt-md-0">
          <div class="hero-carousel" data-flickity='{"wrapAround": true, "dragThreshold": 15, "pageDots": true, "autoPlay": 10000}' data-aos="fade-up" data-aos-delay="100">
            {{ range $e := .carousel }}
            <div class="hero-carousel-item w-100">
              <div class="hero-carousel-img-container">
                <img class="d-block w-100" src="{{ $e.src }}" alt="{{ $e.caption }}"/>
              </div>
              <div class="hero-carousel-caption d-block p-3 text-left shadow-sm mb-1">
                {{ if $e.caption }} <h4>{{ $e.caption }}</h4> {{end}}
                {{ if $e.description }}<p class="text-muted">{{ $e.description }}</p> {{end}}
              </div>
            </div>
            {{ end }}
          </div>
        </div>
        {{ end }}

      </div> <!-- / .row -->
      <div class="row">
        <div class="col-12">

          <!-- Text -->
          <!-- <p class="font-size-sm text-center text-gray-500 mb-0">
            * Some integrations require a custom API
          </p> -->

        </div>
      </div> <!-- / .row -->

    </div> <!-- / .container -->
  </section>

  {{ else if eq .type "parallax" }}

  <section class="overlay overlay-black overlay-80" data-jarallax data-speed=".8" style="background-image: url({{ .background }})">
    <div class="container d-flex flex-column">
      <div class="row align-items-center justify-content-center min-vh-100 py-8 py-md-11">
        <div class="col-12 col-md-8 col-lg-6 mt-auto text-center">

          <!-- Brand -->
          <div class="img-fluid text-white svg-shim mb-6 ">
            {{ partial "theme/svg" ( dict "svg" .brand_svg ) }}
          </div>

          <!-- Heading -->
          <h1 class="display-4 font-weight-bold text-white">
            {{ $heading }}
          </h1>

          <!-- Heading -->
          <p class="lead text-white">
            {{ .intro }}
          </p>

        </div>
        <div class="col-12 mt-auto text-center">

          <!-- Button -->
          <a class="btn btn-white btn-rounded-circle shadow" data-toggle="smooth-scroll" data-offset="0" href="#sectionTwo">
            <i class="fe fe-arrow-down"></i>
          </a>

        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->
  </section>


 {{ else if eq .type "big-hero" }}
  <!-- Source Landkit/job.html-->

  <section data-jarallax data-speed=".8" class="pt-16 pb-10 pb-md-14" style="background-image: url( {{ .background }})">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-10 col-lg-10">

          <!-- Heading -->
          <h1 class="display-2 font-weight-bold text-white" id="welcomeHeadingSource">
            {{ $heading }} <br />
            {{ if .typed }}
            <span class="text-warning" data-toggle="typed" data-options='{"strings": [ "{{ delimit .typed "\", \"" }}" ]}'></span>
            {{ end }}
          </h1>

          <!-- Text -->
          <p class="display-4 text-white mb-6">
            {{ .text }}
          </p>

        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->
  </section>

  {{ end }}
  {{ end }}
{{ end }}
