{{ with .home.hero }}
  {{ if .enable }}
  <section class="pt-6 pt-md-8">
    <div class="container pb-6 pb-md-8 border-bottom">
      <div class="row align-items-center">
        <div class="col-12 col-md">

          <!-- Heading -->
          <h3 class="font-weight-bold mb-1">
            {{ $.page.Title }}
          </h3>

          <!-- Text -->
          <p class="font-size-lg text-muted mb-6 mb-md-0">
            {{ .text | default $.page.Params.text | safeHTML }}
          </p>

        </div>
        {{ if .button }}
        {{ $calendlyScriptTemplate := "Calendly.initPopupWidget({url: '%s'});return false;" }}
        <div class="col-12 col-md-auto">
          <!-- Button -->
          {{ range $idx, $e := .button }}
          <a 
            href="
              {{- if not $e.calendly -}}
                {{ $e.link }}
              {{- end -}}
            " class="btn
              {{- if $e.cta }} btn-primary
              {{- else }} btn-primary-soft
              {{- end}} mr-1 lift"
            {{- if .datatoggle }} data-toggle="{{ .datatoggle }}"
            {{- end }}
            {{- if $e.calendly }} onclick="{{ printf $calendlyScriptTemplate $e.link | safeJS }}"
            {{- end -}} 
          >
            {{ $e.txt }}
          </a>
        {{ end }}
        </div>
        {{ end }}
      </div> <!-- / .row -->
    </div> <!-- / .container -->
  </section>
  {{ end }}
{{ end }}
