{{ with .modal }}
  {{ if .enabled }}
    {{ if eq .modal_type "modalSignupVertical"}}
    <!-- Signup: Vertical  -->
    <div class="modal fade" id="modalSignupVertical" tabindex="-1" role="dialog" aria-labelledby="modalSignupVerticalTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="card">

            <!-- Close -->
            <button type="button" class="modal-close close text-white" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>

            <!-- Image -->
            <img src="{{ .img }}" alt="..." class="card-img-top">

            <!-- Shape -->
            <div class="position-relative">
              <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
                <svg viewBox="0 0 2880 480" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2160 0C1440 240 720 240 720 240H0v240h2880V0h-720z" fill="currentColor"/></svg>
              </div>
            </div>

            <!-- Body -->
            <div class="card-body">

              <!-- Heading -->
              <h2 class="mb-0 font-weight-bold text-center" id="modalSignupVerticalTitle">
                {{ $.product.name }}
              </h2>

              <!-- Text -->
              <p class="mb-6 text-center text-muted">
                {{ .text }}
              </p>

              <!-- Form -->
              <form id="request-demo-form" class="mb-6" method="POST" action="{{ .form_action_url }}">
                <!-- Email -->
                <div class="form-group">
                  <label class="sr-only" for="modalSignupVerticalEmail">
                    Your Work Email
                  </label>
                  <input type="email" name="email" class="form-control" id="modalSignupVerticalEmail" placeholder="Your email"/>
                  <input type="hidden" name="request_type" value="EDW Demo"/>
                </div>

                <!-- Submit -->
                <button id="request-demo-form-btn" class="btn btn-block btn-primary" type="submit">
                  {{ .button }}
                </button>

              </form>

              <!-- Text -->
              <p class="mb-0 font-size-sm text-center text-muted">
                Already have an account? <a href="{{ $.product.consoleUrl }}">Log in</a>.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{ end }}
  {{ end }}
{{ end }}
