<section class="py-8 py-md-11 bg-dark">

    <div class="container">
  
      <div class="row justify-content-center text-light">
        <div class="col-12 col-md-10 col-lg-7 text-center">
  
          <!-- Heading -->
          <h2>
            Partnerships.
          </h2>
  
          <!-- Text -->
          <p class="font-size-lg text-muted mb-7 mb-md-9">
  
          </p>
  
        </div>
      </div> <!-- / .row -->
  
      <div class="row justify-content-center" style="vertical-align:middle;" >
  
        <div class="col-6 col-md-2">
  
          <div class="img-fluid">
            <img src="/img/_f360/contact/contact-amazon.png" />
          </div>
  
        </div>

        <div class="col-6 col-md-2">
  
            <div class="img-fluid svg-shim" style="color: #FFF;">
                {{ "themes/f360-hugo-theme/static/img/_f360/contact/vertica.svg" | readFile | replaceRE  ( printf "%s%s%s" "fill=\"" "#FFF"  "\"" | printf "%s" ) "fill=\"currentColor\" fill-rule=\"nonzero\"" | safeHTML }}
            </div>
    
          </div>
  
  
      </div> <!-- / .row -->
    </div> <!-- / .container -->
  
  
  </section>