<section class="py-4 py-md-7">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-7 text-center">
  
          <!-- Heading -->
          <h2>
            Security is paramount.
          </h2>
  
          <!-- Text -->
          <p class="font-size-lg text-muted mb-7 mb-md-9">
            Full 360 is ISO/IEC 27001:2013 certified by the <a href="https://www.bsigroup.com/en-US/ISO-IEC-27001-Information-Security/">British Standards Institute</a> (BSI) under certificate number <a href="https://verifeyedirectory.bsigroup.com/Certificate/IS%20675158">IS 675158</a>.  BSI is an accreditation institute and standards body incorporated by Royal Charter. BSI certificates are recognized as valid certificates in all countries with an International Accreditation Forum (IAF) member. For a list of all countries with an IAF member, see the <a href="http://www.iaf.nu/articles/IAF_MEMBERS_SIGNATORIES/4">IAF Members and Signatories</a> webpage.
          </p>
  
        </div>
      </div> <!-- / .row -->
  
      <div class="row justify-content-center">
        <div class="col-8 col-md-6">
  
          <a href="https://verifeyedirectory.bsigroup.com/Certificate/IS%20675158">
            <div class="img-fluid mb-2 mb-md-4 svg-shim" style="color: #000;">
              <img src="/img/_f360/bsi_iso27001.svg" />
            </div>
          </a>
  
        </div>
  
  
      </div> <!-- / .row -->
    </div> <!-- / .container -->
  </section>
  