<!-- SOLUTION
================================================== -->
{{ with .solution }}
  {{ if .enabled }}
    {{ if eq .solution_type "checklist-1"}}
    <section {{ if .id }}id="{{ .id }}"{{ end}} class="py-8 pt-md-11 pb-md-12 bg-dark">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-8 text-center">

            <!-- Preheading -->
            <h6 class="text-uppercase text-success font-weight-bold">
              {{ .preheading }}
            </h6>

            <!-- Heading -->
            <h1 class="font-weight-bold text-white">
              {{ .heading }}
            </h1>

            <!-- Text -->
            <p class="font-size-lg text-gray-500 mb-7 mb-md-9">
              {{ .text }}
            </p>

          </div>
        </div> <!-- / .row -->

        <div class="row">
          {{ range $idx, $item := .item }}
          <div class="col-12 col-md-6 col-lg-3 mb-4">

            <!-- Heading -->
            <h4 class="font-weight-bold text-white mb-5">
              {{ .heading }}
            </h4>
            {{ range $ldx, $list := .list }}
            <!-- List -->
            <div class="d-flex">

              <!-- Badge -->
              <div class="badge badge-rounded-circle badge-success mt-1 mr-4">
                <i class="fe fe-check"></i>
              </div>

              <!-- Text -->
              <p class="text-gray-300">
                {{ . }}
              </p>

            </div>
            {{ end }}

          </div>
          {{ end }}
        </div> <!-- / .row -->

      </div> <!-- / .container -->
    </section>
    {{ end }}

  {{ end }}
{{ end }}
