<section class="pt-10 pt-md-12">
  <div class="container">
    <div class="row">
      <div class="col-6">

        <!-- Card -->
        <div class="card card-row shadow-light-lg mb-6">
          <div class="row no-gutters">
            <div class="col-sm position-md-static">

              <!-- Slider -->
              <div class="position-md-static" data-flickity='{"wrapAround": true, "pageDots": false, "adaptiveHeight": true}' id="blogSlider">
                {{ range .Params.quotes }}
                <div class="w-100">

                  <!-- Body -->
                  <div class="card-body">
                    <blockquote class="blockquote text-center mb-0">

                      <!-- Brand -->
                      <div class="row justify-content-center mb-3 mb-md-5">
                        <!-- Logo -->
                        {{ partial "theme/clients" (dict "page" .Page "parent_div_class" "col-8 align-self-center" "image_div_class" "img-fluid svg-shim" "client" $.Page.Params.client )}}

                      </div> <!-- / .row -->

                      <!-- Text -->
                      <p class="mb-5 mb-md-7">
                        “{{.text}}”
                      </p>

                      <!-- Footer -->
                      <footer class="blockquote-footer">
                        <span class="h6 text-uppercase">{{ .author }}</span>
                      </footer>

                    </blockquote>
                  </div>

                </div>
                {{ end }}

              </div>

            </div>
          </div> <!-- / .row -->
        </div>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>
