<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

  {{- partial "head" . -}}

  <body class="pt-10">

    <!-- MODALS
    ================================================== -->
    {{- partial "landkit/_default/modals" . -}}


    <!-- HEADER (originally NAVBAR)
    ================================================== -->
    {{- partial "header" . -}}

    <!-- WELCOME
    ================================================== -->
    {{- partial "landkit/cloud/hero" . -}}

    <!-- SHAPE
    ================================================== -->
    <div class="position-relative">
      <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>
      </div>
    </div>


    <!-- PRICING
    ================================================== -->
    {{- partial "landkit/cloud/pricing" . -}}

    {{- partial "landkit/cloud/feature" . -}}

    <!-- SHAPE
    ================================================== -->
    <div class="position-relative">
      <div class="shape shape-bottom shape-fluid-x svg-shim text-dark">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>
      </div>
    </div>

    {{- partial "landkit/cloud/solution" . -}}

    <!-- CTA
    ================================================== -->
    {{- partial "landkit/_default/cta" . -}}

    {{- partial "landkit/_default/footer" . -}}

    {{- partial "footer" . -}}


  </body>
</html>
