<h6 class="text-uppercase font-weight-bold">
  {{ with .Site.GetPage "/documentation" }}
  <a href="{{ .RelPermalink }}">
    <span>{{ $.Site.Params.product.name}} {{ .Title }}</span>
  </a>
  {{ end }}
</h6>
