<div class="mt-5 mb-4 footer">
  <hr class="mt-0 mb-1" />
  © 2007 - {{ now.Format "2006" }} Open Text or one of its affiliates |
  <a href="https://academy.vertica.com/" rel="noopener" target="_blank"
    >Academy</a
  >
  |
  <a href="https://www.vertica.com/blog/" rel="noopener" target="_blank"
    >Blog</a
  >
  |
  <a
    href="https://www.microfocus.com/en-us/support"
    rel="noopener"
    target="_blank"
    >Support</a
  >
  |
  <a
    href="/vertica-accelerator--saas--bundle--license.txt"
    rel="noopener"
    target="_blank"
    >License Attribution</a
  >
</div>
