{{ $bookSection := default "documentation" .Site.Params.BookSection  }}
{{ if eq $bookSection "*" }}
  {{ .Scratch.Set "BookSections" .Site.Sections }}
{{ else }}
  {{ $bookSections := where .Site.Sections "Section" $bookSection }}
  {{ .Scratch.Set "BookSections" $bookSections }}
{{ end }}

{{ $sections := .Scratch.Get "BookSections" }}
{{/* If there is only one section to render then render its children, else render all sections */}}
{{ if eq (len $sections) 1 }}
  {{ with index $sections 0 }}
    {{ template "book-section-children" (dict "Section" . "CurrentPage" $) }}
  {{ end }}
{{ else }}
  <ul class="documentation-menu">
  {{ range where $sections "Params.bookHidden" "!=" true }}
    {{ template "book-section" (dict "Section" . "CurrentPage" $) }}
  {{ end }}
  </ul>
{{ end }}

{{ define "book-section" }}
{{ with .Section }}
  <li {{- if .Params.BookFlatSection }} class="documentation-section-flat" {{ end }}>
    {{ template "book-page-link" (dict "Page" . "CurrentPage" $.CurrentPage) }}
    {{ template "book-section-children" (dict "Section" . "CurrentPage" $.CurrentPage) }}
  </li>
{{ end }}
{{ end }}

{{ define "book-section-children" }}
{{ $ancestor := .Section.IsAncestor .CurrentPage }}
{{ $collapsed := .Section.Params.bookCollapseSection }}

{{ if or $ancestor (not $collapsed) }}
  {{ with .Section }}
  <ul class="documentation-menu">
    {{ range where .Pages "Params.bookhidden" "!=" "true" }}
      {{ if .IsSection }}
        {{ template "book-section" (dict "Section" . "CurrentPage" $.CurrentPage) }}
      {{ else if and .IsPage .Content }}
        <li>
        {{- template "book-page-link" (dict "Page" . "CurrentPage" $.CurrentPage) -}}
        </li>
      {{ end }}
    {{ end }}
  </ul>
  {{ end }}
{{ end }}

{{ end }}

{{ define "book-page-link" }}
{{ with .Page }}
  {{ if .Content }}
  <a href="{{ .RelPermalink }}" class="list-link documentation-a
      {{- if and .Params.bookCollapseSection .IsSection }} collapsed {{ end }}
      {{- if eq $.CurrentPage.RelPermalink .RelPermalink }} active{{ end }}">
    {{- partial "theme/title-docs" . -}}
  </a>
  {{ else }}
  <span class="list-no-link">{{- partial "theme/title-docs" . -}}</span>
  {{ end }}
{{ end }}
{{ end }}
