{{ if default true .Site.Params.BookSearch }}
<div class="container-fluid book-search">
  <div class="mb-4 row">
    <!-- Form -->
    <form class="rounded ">
      <div class="input-group input-group-xs">
        <!-- Prepend -->
        <div class="input-group-prepend">
          <span class="input-group-text border-0 pr-1">
            <i class="fe fe-search"></i>
          </span>
        </div>
        <!-- Input -->
        <input type="text" id="book-search-input" class="form-control border-0 px-1" placeholder="{{ i18n "Search" }}" aria-label="{{ i18n "Search" }}" maxlength="64" data-hotkeys="s/" />
        <div class="spinner-border book-search-spinner input-group-append hidden"></div>
      </div>
    </form>
    <div class="container">
      <ul id="book-search-results" class="documentation-menu"></ul>
    </div>
  </div>
</div>
{{ end }}
