/*

MF Style Guide Variables

*/

// Brand

$brand-blue: #0079EF !default;
$brand-blue-w3c:  #0073E7 !default;

// Primary

$midnight: #02003C !default;
$dark-blue: #231CA5 !default;
$purple: #7425AD !default;
$pink: #C6179D !default;
$aqua: #29CEFF !default;
$aquamarine: #2FD6C3 !default;
$lime: #86DA64 !default;

// Monochromatic

$white: #FFFFFF !default;
$slightly-grey: #F5F7F8 !default;
$bright-grey: #ECEEEF !default;
$grey: #DCDEDF !default;
$silver: #BDBEC0 !default;
$dim-grey: #656668 !default;
$dark-grey: #323435 !default;
$black: #000000 !default;

// Status

$crimson-negative: #E5004C !default;
$apricot: #F48B34 !default;
$yellow: #FCDB1F !default;
$green-positive: #1AAC60 !default;

// overrides

$hint-colors: (
  info: $aqua,
  warning: $yellow,
  danger: $crimson-negative
) !default;

$info: $aqua !default;
$warning: $yellow !default;
$danger: $crimson-negative !default;