//
// user.scss
// Use this to write your custom SCSS
//

@import "_mf/sidenav-search";
@import "_mf/mixins/hints";

/*
The calendly css sets a height configuration for both the html and body elements
of 100%, which affects some components of the theme.
To avoid it affecting the theme configuration, a value is set explicitly for 
height in this stylesheet.
Preferably, the calendly css should be imported before the theme, otherwise we
should set the following configuration as !important to force it being the preferred one.
*/
html, body {
  height: initial;
}

.bg-full360 {
  @extend .bg-dark
}

.bg-edw {
  background-color: $brand-blue !important;
}

.hero-carousel{
  .hero-carousel-item{
    .hero-carousel-img-container{
      display: block;
      width: 100%;
      position: relative;
      height: 0;
      padding: 75% 0 0 0;
      overflow: hidden;

      &>img{
        position: absolute;
        display: block;
        max-width: 100%;
        max-height: 100%;
        left: 0;
        right: 0;
        top:0;
        margin: auto;
      }
    }

    .hero-carousel-caption {
      min-height: 80px;
      position: relative;
      left: auto;
      right: auto;
      bottom: 0;
    }
  }

}

.markdown {

    ul{
      list-style: none;
    }

    li{
      display: table;
      text-align: left;
    }

    li::before{
      content: "\e92C";
      color: #42BA96;

      padding-right:0.75em;
      vertical-align: top;
      display: table-cell;
      text-align: right;

      font-family: 'Feather' !important;
    }

     img {
       max-width: 100%;
     }
}
$padding-1: 1px !default;
$padding-4: 0.25rem !default;
$padding-8: 0.5rem !default;
$padding-16: 1rem !default;
$border-radius: $padding-4 !default;

.footer{
  font-size: 12px!important;
  color: $dark-grey!important;

  hr {
    color: $dark-grey;
    height: 5px;
  }

  a {
    color: inherit!important;
    text-decoration: none;
  }
}

.doc-container {

  height: 100%;

  & > .container-fluid {
    height: 100%;

    & > .row {
      height: 100%;

      & > .doc-container-content {
        min-height: calc(100vh - #{$estimated-header-height});
        
        @include media-breakpoint-down(md) {
          min-height: calc(100vh - #{$estimated-header-height} - 48px);
          // 48px is the calculated height of the breadcrumb that 
          // appears when watching the website on smaller devices
        }

        display: flex;
        flex-direction: column;

        & > .documentation-md {
          flex: 1 0 auto;
        }

        & > .footer {
          flex-shrink: 0;
        }
      }
    }
  }
}

.documentation-md {

     img {
       max-width: 100%;
     }

     code {
       padding: 0 $padding-4;
       background: $gray-200;
       border-radius: $border-radius;
       font-size: .875em;
     }

     pre {
       padding: $padding-16;
       background: $gray-200;
       border-radius: $border-radius;
       overflow-x: auto;

       code {
         padding: 0;
         background: none;
       }
     }
}


.documentation-toc {
  img {
    height: 1em;
  }

  ul {
    @extend .list;
    @extend .mb-0;
    &>li {
      @extend .list-item;
    }
  }

  a {
    @extend .list-link;
  }

}

ul.documentation-menu {
  @extend .list;
  padding: 0;
  margin: 0;
  list-style: none;

  ul {
    @extend .list;
    padding-left: $spacer;
    // @extend .mb-0;

    &>li {
      @extend .list-item;
      margin: .5em 0;
      position: relative;
    }
  }

  .list-no-link {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    font-size: $list-link-font-size;
    color: $list-link-color;
  }

  a{
    @extend .list-link;
    display: block;

    &:hover {
      opacity: 0.5;
    }

    &.collapsed{

      &::after{
        content: "";
      }

      &::before{
        content: "\e930";
        position: relative;
        font-size:10px;
        left: 0;
        margin-right: 5px;
        font-family: 'Feather' !important;
      }

      &.active::before{
        content: "\e92E";
      }
    }
  }
}

.documentation-section-flat {
  // margin-bottom: $padding-16 * 2;


  &:not(:first-child) {
    // margin-top: $padding-16 * 2;
  }

  // a.active {
  //   // color: $color-link;
  // }

  > a,
  > span {
    font-weight: bolder;
  }

  > ul {
    padding-left: 0;
  }
}

blockquote.book-hint {
  margin: $padding-16 0;
  padding: $padding-8 $padding-16 $padding-8 ($padding-16 - $padding-4); //to keep total left space 16dp

  border-left: $padding-4 solid $gray-200;
  border-radius: $border-radius;

  :first-child { margin-top: 0; }
  :last-child { margin-bottom: 0; }
}

.f360-header-space {
  padding-top: $estimated-header-height;
}

article > *:target {
  scroll-margin-top: $estimated-header-height;
}

.inline-svg {
  display: inline-block;
  vertical-align: middle;

  svg {
    width: 1em;
    height: 1em;
    fill: currentColor;
    display: inline-block;
  }
}

// MUI

.material-icons {
  font-family: 'MuiRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';

  &.material-icons-outlined {
    font-family: 'MuiRegularOutlined';
  }

  &.material-icons-round {
    font-family: 'MuiRegularRound';
  }

  &.material-icons-sharp {
    font-family: 'MuiRegularSharp';
  }

  &.material-icons-two-tone {
    font-family: 'MuiRegularTwoTone';
  }

  &.accelerator-icon {
    color: $brand-blue-w3c;

    &.accelerator-icon-apricot {
      color: $apricot;
    }
  }
}


@import "custom";