<!DOCTYPE html>
<html lang="en-US">
<head>

  {{- block "head" . }}
  {{- partial "head" . -}}
  {{ end }}

  {{- block "post_head_hook" . }}
  {{ end }}

</head>

  {{- block "body_class" . }}
  <body>
  {{- end }}

    <!-- MODALS
    ================================================== -->
    {{ range $idx, $modal := sort .Site.Data.home.modals "weight" }}
    {{- partial "theme/modals" (dict "product" $.Site.Params.product "modal" $modal ) -}}
    {{ end }}

    {{ block "navbar" . }}
    <!-- HEADER (originally NAVBAR)
    ================================================== -->
    {{- partial "header" (dict "page" . "home" .Site.Data.home)  -}}
    {{ end }}


    {{- block "main" . }}
    {{- end }}


    {{- block "footer_class" . }}
    <footer class="py-8 py-md-11 bg-gray-200">
    {{- end }}

    {{- block "footer" . }}
    {{- end }}

    {{ block "footer_javascript" . }}
      {{- partial "footer/javascript" . }}
      {{ if .Site.Params.chatwoot -}}
        {{- partial "footer/chatwoot" . }}
      {{- end }}
    {{ end }}

    {{- block "post_footer_hook" . }}
    {{- end}}
    </footer>

  </body>
</html>
