{{ define "body_class"}}
{{ if .Page.Params.background }}
<body class="bg-{{ .Site.Data.defaults.body_background }}" data-aos-easing="ease-out-quad" data-aos-duration="700" data-aos-delay="0">
{{ else }}
<body class="bg-{{ .Site.Data.defaults.body_background }} pt-9" data-aos-easing="ease-out-quad" data-aos-duration="700" data-aos-delay="0">
{{ end }}
{{ end }}

{{ define "main" }}

    <section class="pt-12 overlay overlay-black overlay-80" data-jarallax data-speed=".8" style="background-image: url({{ .Page.Params.background }})">
      <div class="container d-flex flex-column">
        <div class="row align-items-center justify-content-center min-vh-100 py-8 py-md-11">
          <div class="col-12 col-md-8 col-lg-6 mt-auto text-center">

            <!-- Preheading -->
            <h6 class="text-uppercase text-gray-500 font-weight-bold">
              {{ .Parent.Title }}
            </h6>


            <!-- Heading -->
            <h1 class="display-1 font-weight-bold text-white">
              {{ .Page.Params.title }} <br />
              {{ if .Page.Params.typed }}
              <span class="text-warning" data-toggle="typed" data-options='{"strings": [ "{{ delimit .Page.Params.typed "\", \"" }}" ]}'></span>
              {{ end }}
            </h1>

            <!-- Heading -->
            <p class="lead text-white">
              {{ .Page.Params.description }}
            </p>

          </div>
          <div class="col-12 mt-auto text-center">

            <!-- Button -->
            <a class="btn btn-white btn-rounded-circle shadow" data-toggle="smooth-scroll" data-offset="0" href="#sectionTwo">
              <i class="fe fe-arrow-down"></i>
            </a>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

    <!-- HEADER
    ================================================== -->
    <section class="pt-9 pt-md-11">
      <div class="container">
        <!-- / .row -->
          <div class="row justify-content-center">
            <!-- <div class="col-12 col-md-10 col-lg-8 "> -->
              <!-- Text -->
              <div class="markdown col-12 col-md-10 col-lg-8">
                {{- .Content -}}
              </div>
            <!-- </div> -->
          </div>
          <!-- / .row -->
      </div>
      <!-- / .container -->
    </section>

    {{ range where .Site.Sections "Section" .Type }}

    {{ if .RegularPages }}
    <section class="pt-8 pt-md-11">
      <div class="container">
        {{ range  $idx, $page := .Pages.ByWeight }}

        <div class="row">
          <div class="col-12">

            {{ if not (or (eq $idx 0) (eq (mod $idx 2) 0)) }}

            <!-- Card -->
            <div class="card card-row shadow-light-lg mb-6">
              <div class="row no-gutters">
                <div class="col-12">

                  {{ if $page.Params.badge }}
                  <!-- Badge -->
                  <span class="badge badge-pill badge-gray-600 badge-float badge-float-outside">
                    <span class="h6 text-uppercase">Featured</span>
                  </span>
                  {{ end }}

                </div>
                <a class="col-12 col-md-6 order-md-2 bg-cover card-img-right" style="background-image: url({{$page.Params.background}});" href="{{ .RelPermalink | absURL }}">

                  <!-- Image (placeholder) -->
                  <img src="{{$page.Params.background}}" alt="..." class="img-fluid d-md-none invisible">

                  <!-- Shape -->
                  <div class="shape shape-left shape-fluid-y svg-shim text-white d-none d-md-block">
                    <svg viewBox="0 0 112 690" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h62.759v172C38.62 384 112 517 112 517v173H0V0z" fill="currentColor"/></svg>
                  </div>

                </a>
                <div class="col-12 col-md-6 order-md-1">

                  <!-- Body -->
                  <a class="card-body" href="{{ .RelPermalink }}">

                    <!-- Heading -->
                    <h3>
                      {{ $page.Title }}
                    </h3>

                    <!-- Text -->
                    <p class="mb-0 text-muted">
                      {{ $page.Summary }}
                    </p>

                  </a>

                  <!-- Meta -->
                  <a class="card-meta" href="{{ .RelPermalink }}">

                    <!-- Divider -->
                    <hr class="card-meta-divider">


                  </a>

                </div>

              </div> <!-- / .row -->
            </div>

            {{ end }}

            {{ if or (eq $idx 0) (eq (mod $idx 2) 0) }}

            <!-- Card -->
            <div class="card card-row shadow-light-lg mb-6">
              <div class="row no-gutters">
                <div class="col-12">

                  <!-- Badge -->
                  {{ if $page.Params.badge }}
                  <span class="badge badge-pill badge-gray-600 badge-float badge-float-outside">
                    <span class="h6 text-uppercase">Featured</span>
                  </span>
                  {{ end }}

                </div>
                <a class="col-12 col-md-6 bg-cover card-img-left" style="background-image: url({{$page.Params.background}});" href="{{ .RelPermalink }}">

                  <!-- Image (placeholder) -->
                  <img src="{{$page.Params.background}}" alt="..." class="img-fluid d-md-none invisible">

                  <!-- Shape -->
                  <div class="shape shape-right shape-fluid-y svg-shim text-white d-none d-md-block">
                    <svg viewBox="0 0 112 690" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M116 0H51v172C76 384 0 517 0 517v173h116V0z" fill="currentColor"/></svg>
                  </div>

                </a>
                <div class="col-12 col-md-6">

                  <!-- Body -->
                  <a class="card-body" href="{{ .RelPermalink }}">

                    <!-- Heading -->
                    <h3>
                      {{ $page.Title }}
                    </h3>

                    <!-- Text -->
                    <p class="mb-0 text-muted">
                      {{ $page.Summary }}
                    </p>

                  </a>

                  <!-- Meta -->
                  <a class="card-meta" href="{{ .RelPermalink }}">

                    <!-- Divider -->
                    <hr class="card-meta-divider">

                  </a>

                </div>

              </div>
            </div>
            {{ end }}

          </div>
        </div> <!-- / .row -->
        {{ end }}

      </div> <!-- / .container -->
    </section>

    {{end}}
    {{ end }}




{{ end }}

{{ define "footer_class" }}
{{- partial "theme/footer-cta" . }}

<div class="position-relative">
    <div class="shape shape-bottom shape-fluid-x svg-shim text-gray-200">
      <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"></path></svg>
    </div>
</div>

<footer class="py-8 py-md-11 bg-gray-200">

{{ end }}

{{ define "footer" }}
  {{ partial "footer" . }}
{{ end }}
