{{ define "body_class"}}
{{ if .Page.Params.background }}
<body class="bg-{{ .Site.Data.defaults.body_background }}" data-aos-easing="ease-out-quad" data-aos-duration="700" data-aos-delay="0">
{{ else }}
<body class="bg-{{ .Site.Data.defaults.body_background }} pt-9" data-aos-easing="ease-out-quad" data-aos-duration="700" data-aos-delay="0">
{{ end }}
{{ end }}

{{ define "main" }}
    <section data-jarallax data-speed=".8" class="pt-16 pb-10 pt-md-15 pb-md-16 overlay overlay-black overlay-80" style="background-image: url( {{ .Page.Params.background }})">
      <div class="container ">
        <div class="row align-items-center">
          <div class="col-12 col-md-10 col-lg-10 ">

            <!-- Heading -->
            <h1 class="display-2 font-weight-bold text-white" id="welcomeHeadingSource">
              {{ .Page.Params.title }} <br />
              {{ if .Page.Params.typed }}
              <span class="text-warning" data-toggle="typed" data-options='{"strings": [ "{{ delimit .Page.Params.typed "\", \"" }}" ]}'></span>
              {{ end }}
            </h1>

            <!-- Text -->
            <p class="display-4 text-white mb-6">
              {{ .Page.Params.description }}
            </p>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

    <!-- HEADER
    ================================================== -->
    <section class="pt-9 pt-md-11">
      <div class="container">
        <div class="row justify-content-center">
            <div {{ if .Params.id }}id="{{ .Params.id }}"{{ end}} class="col-12 col-md-10 col-lg-8 text-center">

              <!-- Preheading -->
              <h6 class="text-uppercase text-gray-500 font-weight-bold">
                {{ .Parent.Title }}
              </h6>

              <!-- Heading -->
              <h1 class="font-weight-bold">
                {{ .Params.title }}
              </h1>

              <!-- Text -->
              <p class="font-size-lg text-muted mb-2 mb-md-5">
                {{ .Params.vertical }}
              </p>

              <!-- Divider -->
              <hr class="hr-md mb-7" />

            </div>

        </div>
        <!-- / .row -->
          <div class="row justify-content-center">
            <!-- <div class="col-12 col-md-10 col-lg-8 "> -->
              <!-- Text -->
              <div class="markdown col-12 col-md-10 col-lg-8">
                {{- .Content -}}
              </div>
            <!-- </div> -->
          </div>
          <!-- / .row -->

      </div>
      <!-- / .container -->


    </section>



{{ end }}

{{ define "footer_class" }}
{{- partial "theme/footer-cta" . }}

<div class="position-relative">
    <div class="shape shape-bottom shape-fluid-x svg-shim text-gray-200">
      <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"></path></svg>
    </div>
</div>

<footer class="py-8 py-md-11 bg-gray-200">

{{ end }}

{{ define "footer" }}
  {{ partial "footer" . }}
{{ end }}
