//
// sidenav.scss
// Theme components
//

.sidenav {

  @include media-breakpoint-up(lg) {
    position: fixed;
    top: $estimated-header-height;
    height: calc(100vh - #{$estimated-header-height});
    overflow: auto;
  }
}

.sidenav-left {

  @include media-breakpoint-up(lg) {
    left: 0;
  }
}

.sidenav-right {

  @include media-breakpoint-up(lg) {
    right: 0;
  }
}