.book-search {

  form {
    width: 100%;
    
    input {
      width: 100%;
      &:required + .book-search-spinner {
        display: block;
      }
    }
  }
  
  .book-search-spinner {

    position: absolute;
    right: 0;

    &.hidden {
      display: none;
    }
  }
  
}