<form action="https://formspree.io/sales@full360.com" method="post">
  <div class="row">
    <div class="col">
      <input type="email" class="form-control" name="email" placeholder="Work email address">
    </div>
    <div class="col-auto ml-n5">
      <button type="submit" class="btn btn-primary-desat lift" value="Send">{{ .text }}</button>
    </div>
  </div>
</form>
