
<div class="container">
  <div class="row">
    <div class="col-12 col-md-4 col-lg-3">

      <!-- Brand -->
      {{ partial "footer/brand" (dict "page" . "logo" .Site.Params.logo )}}


      <!-- Text -->
      <p class="text-gray-700 mb-2">
        {{ .Site.Params.byline }}
      </p>

      <!-- Social -->
      <ul class="list-unstyled list-inline list-social mb-6 mb-md-0">
        {{ if .Site.Params.social.instagram }}
        <li class="list-inline-item list-social-item mr-3">
          <a href="https://www.instagram.com/{{ .Site.Params.social.instagram }}" class="text-decoration-none">
            <img src="/img/icons/social/instagram.svg" class="list-social-icon" alt="...">
          </a>
        </li>
        {{ end }}
        {{ if .Site.Params.social.facebook }}
        <li class="list-inline-item list-social-item mr-3">
          <a href="https://www.facebook.com/{{ .Site.Params.social.facebook }}" class="text-decoration-none">
            <img src="/img/icons/social/facebook.svg" class="list-social-icon" alt="...">
          </a>
        </li>
        {{ end }}
        {{ if .Site.Params.social.twitter }}
        <li class="list-inline-item list-social-item mr-3">
          <a href="https://www.twitter.com/{{ .Site.Params.social.twitter }}" class="text-decoration-none">
            <img src="/img/icons/social/twitter.svg" class="list-social-icon" alt="...">
          </a>
        </li>
        {{ end }}
        {{ if .Site.Params.social.pinterest }}
        <li class="list-inline-item list-social-item">
          <a href="https://www.pintrest.com/{{ .Site.Params.social.pinterest }}" class="text-decoration-none">
            <img src="/img/icons/social/pinterest.svg" class="list-social-icon" alt="...">
          </a>
        </li>
        {{ end }}
        {{ if .Site.Params.social.linkedin }}
        <li class="list-inline-item list-social-item">
          <a href="https://www.linkedin.com/company/{{ .Site.Params.social.linkedin }}" class="text-decoration-none">
            <img src="/img/icons/social/linkedin.svg" class="list-social-icon" alt="...">
          </a>
        </li>
        {{ end }}
      </ul>

    </div>
    <div class="col-6 col-md-4 col-lg-2">

      <!-- Heading -->
      <h6 class="font-weight-bold text-uppercase text-gray-700">
        Products
      </h6>

      <!-- List -->
      <ul class="list-unstyled text-muted mb-6 mb-md-8 mb-lg-0">
        <li class="mb-3">
          <a href="https://www.vertica.com/accelerator" class="text-reset">
            ElasticDW
          </a>
        </li>
      </ul>

    </div>
    <div class="col-6 col-md-4 col-lg-2">

      <!-- Heading -->
      <h6 class="font-weight-bold text-uppercase text-gray-700">
        Services
      </h6>

      <!-- List -->
      <ul class="list-unstyled text-muted mb-6 mb-md-8 mb-lg-0">
        <li class="mb-3">
          <a href="https://www.vertica.com/services" class="text-reset">
            Cloud
          </a>
        </li>
        <li class="mb-3">
          <a href="https://www.vertica.com/services" class="text-reset">
            Data
          </a>
        </li>
      </ul>

    </div>

    <div class="col-6 col-md-4 col-lg-2">

      <!-- Heading -->
      <h6 class="font-weight-bold text-uppercase text-gray-700">
        Resources
      </h6>

      <!-- List -->
      <ul class="list-unstyled text-muted mb-6 mb-md-8 mb-lg-0">
        <li class="mb-3">
          <a href="https://www.vertica.com/blog" class="text-reset">
            Blog
          </a>
        </li>
        <li class="mb-3">
          <a href="https://www.vertica.com/customers" class="text-reset">
            Case Studies
          </a>
        </li>
      </ul>

    </div>

    <div class="col-6 col-md-4 col-lg-2">

      <!-- Heading -->
      <h6 class="font-weight-bold text-uppercase text-gray-700">
        Company
      </h6>

      <!-- List -->
      <ul class="list-unstyled text-muted mb-6 mb-md-8 mb-lg-0">
        <li class="mb-3">
          <a href="https://www.vertica.com/contact-us" class="text-reset">
            TREK Process
          </a>
        </li>
        <li class="mb-3">
          <a href="https://www.vertica.com/contact-us" class="text-reset">
            About
          </a>
        </li>
        <li class="mb-3">
          <a href="https://www.vertica.com/contact-us" class="text-reset">
            Jobs
          </a>
        </li>
        <li class="mb-3">
          <a href="https://www.vertica.com/contact-us" class="text-reset">
            Legal
          </a>
        </li>
        <li class="mb-3">
          <a href="https://www.vertica.com/contact-us" class="text-reset">
            Privacy
          </a>
        </li>
      </ul>

    </div>
  </div> <!-- / .row -->
</div> <!-- / .container -->
