{{ with .home.hero }}
  {{ if .enable }}
  {{ $header := .header }}

  {{ if $.page.Params.header }}
    {{ $header = merge $header $.page.Params.header }}
  {{ end }}

  <!-- override the header if its parallax -->
  <div class="fixed-top">
  {{ partial "header/pre" }}
  {{ if ( or (eq .type "parallax") (eq .type "big-hero") ( .Page.Params.background ))   }}
    <nav class="navbar navbar-expand-lg navbar-togglable {{ if (not (or ( $.page.IsHome ) ( $.page.Params.background ))) }}bg-dark{{ end }}">
      <div class="container">

   {{ else if eq $header.type "light" }}
     <nav class="navbar navbar-expand-lg navbar-{{ $header.type }} {{ $header.background }} border-bottom">
       <div class="container-fluid">

   {{ else if eq $header.type "dark" }}
    <nav class="navbar navbar-expand-lg navbar-{{ $header.type }} {{ $header.background }} border-bottom">
      <div class="container-fluid">
   {{ end }}


    <!-- Brand -->
    {{ partial "header/brand" (dict "page" $.page "logo" $.page.Site.Params.logo )}}

    <!-- Toggler -->
    {{ if $.page.Site.Menus }}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    {{ end }}

    <!-- Collapse -->
    <div class="navbar-collapse collapse" id="navbarCollapse" style="">

      <!-- Toggler -->
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fe fe-x"></i>
      </button>

      <!-- Navigation -->
      <ul class="navbar-nav ml-auto">
        {{- partial "header/withdescription" $.page -}}
      </ul>

      <!-- Button -->
      {{ range $.page.Site.Menus.withbutton }}
      {{ if eq $header.type "dark" }}
      <a class="navbar-btn btn btn-sm btn-primary ml-auto" href="{{ .URL | absURL }}" target="_blank">
        {{ .Name }}
      </a>
      {{ else }}
      <a class="navbar-btn btn btn-sm btn-light ml-auto" href="{{ .URL | absURL }}" target="_blank">
        {{ .Name }}
      </a>
      {{ end }}
      {{end}}


    </div>

  </div>
</nav>
</div>
{{ if $header.breadcrumb }}
{{ partial "header/breadcrumb" $.page }}
{{ end }}

{{ end }}
{{ end }}
