
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{ default .Summary .Description }}">

  {{ template "_internal/opengraph.html" . }}
  {{ if and .Params.background }}
    <meta property="og:image" content="{{ .Params.background | absURL }}"/>
    <meta property="og:image:secure_url" content="{{ .Params.background | absURL }}"/>
  {{ else if and .Site.Params.og_image }}
    <meta property="og:image:width" content="1080"/>
    <meta property="og:image:height" content="720"/>
    <meta property="og:image" content="{{ .Site.Params.og_image | absURL }}"/>
    <meta property="og:image:secure_url" content="{{ .Site.Params.og_image | absURL }}"/>
  {{ end }}

  {{- partial "header/schema" . }}


  {{ if and (eq hugo.Environment "production") (ne .Site.GoogleAnalytics "") }}
      {{ "<!--" | safeHTML }}
      Setting Google Analytics
      {{ "-->" | safeHTML }}
      {{ template "_internal/google_analytics_async.html" . }}
  {{ end }}

  <!--Calendly-->
  <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet" />
  <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>

  <!-- Libs CSS -->
  <link rel="stylesheet" href="{{ site.BaseURL }}/fonts/Feather/feather.css" />
  <link rel="stylesheet" href="{{ site.BaseURL }}/libs/@fancyapps/fancybox/dist/jquery.fancybox.min.css" />
  <link rel="stylesheet" href="{{ site.BaseURL }}/libs/aos/dist/aos.css" />
  <link rel="stylesheet" href="{{ site.BaseURL }}/libs/choices.js/public/assets/styles/choices.min.css" />
  <link rel="stylesheet" href="{{ site.BaseURL }}/libs/flickity-fade/flickity-fade.css" />
  <link rel="stylesheet" href="{{ site.BaseURL }}/libs/flickity/dist/flickity.min.css" />
  <link rel="stylesheet" href="{{ site.BaseURL }}/libs/highlightjs/styles/vs2015.css" />
  <link rel="stylesheet" href="{{ site.BaseURL }}/libs/jarallax/dist/jarallax.css" />
  <link rel="stylesheet" href="{{ site.BaseURL }}/libs/quill/dist/quill.core.css" />
  
  <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" /> -->

  <!-- Map -->
  <link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />

  <!-- Theme CSS -->
  {{ $options := (dict "targetPath" "/css/theme.css" "outputStyle" "compressed") }}
  {{ $landkit := resources.Get "scss/theme.scss" | resources.ToCSS $options }}
  <link rel="stylesheet" href="{{ $landkit.RelPermalink }}" integrity="{{ $landkit.Data.Integrity }}">

  <!-- Favicon -->
  <link rel="shortcut icon" href="{{ site.BaseURL }}/{{ .Site.Params.favicon }}" type="image/png" />
  <title>{{ partial "theme/title" .  | default  .Site.Title -}}</title>

  {{- range .Translations }}
  <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ partial "theme/title" . }}">
  {{ end -}}

  <!-- RSS -->
  {{- with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}

  {{ "<!--" | safeHTML }}
  Documentation Pages heavily borrowed from Book Theme
  https://github.com/alex-shpak/hugo-book
  {{ "-->" | safeHTML }}
