<!doctype html>
<html lang="en">

  {{- partial "head" . -}}

  <body>

    <!-- MODALS
    ================================================== -->
    {{- partial "landkit/_default/modals" . -}}


    <!-- HEADER (originally NAVBAR)
    ================================================== -->
    {{- partial "header" . -}}

    <!-- WELCOME
    ================================================== -->
    {{- partial "landkit/basic/hero" . -}}

    {{- partial "landkit/basic/feature" . -}}

    <!-- PRICING
    ================================================== -->
    {{- partial "landkit/basic/pricing" . -}}

    <!-- SHAPE
    ================================================== -->
    <div class="position-relative mt-n15">
      <div class="shape shape-bottom shape-fluid-x svg-shim text-dark">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>
      </div>
    </div>

    <!-- FQQ
    ================================================== -->
    {{- partial "landkit/basic/faq" . -}}


    <!-- SHAPE
    ================================================== -->
    <div class="position-relative">
      <div class="shape shape-bottom shape-fluid-x svg-shim text-gray-200">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>
      </div>
    </div>

    <!-- FOOTER
    ================================================== -->
    <!-- <footer class="py-8 py-md-11 bg-gray-200"> -->
    {{- partial "landkit/_default/footer" . -}}
    <!-- </footer> -->

  </body>
</html>
