<!doctype html>
<html lang="en">

  {{- partial "head" . -}}

  <body>

    <!-- CONTENT
    ================================================== -->
    <section class="section-border border-primary">
      <div class="container d-flex flex-column">
        <div class="row align-items-center justify-content-center no-gutters min-vh-100">
          <div class="col-12 col-md-5 col-lg-4 py-8 py-md-11">

            <!-- Heading -->
            <h1 class="display-3 font-weight-bold text-center">
              Uh Oh.
            </h1>

            <!-- Text -->
            <p class="mb-5 text-center text-muted">
              The file you are looking for isnt here anymore.
            </p>

            <!-- Link -->
            <div class="text-center">
              <a class="btn btn-primary" href="/">
                Back to safety
              </a>
            </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

    {{- partial "footer" . -}}

  </body>
</html>
