<!-- Breadcrumb -->
<nav class="d-lg-none bg-gray-800">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col">

        <!-- Breadcrumb -->
        <ol  class="breadcrumb">
          {{ if .IsHome }}
          <li class="breadcrumb-item  active" aria-current="page">
            <span class="text-white">
              {{ .Name }}
            </span>
          </li>
          {{ else }}
          {{ template "breadcrumbnav" (dict "p1" . "p2" .) }}
          {{ end }}
        </ol>

        {{ define "breadcrumbnav" }}
        {{ if .p1.Parent }}
        {{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 )  }}
        {{ else if not .p1.IsHome }}
        {{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 )  }}
        {{ end }}
        {{ if not .p1.IsHome }}
        <li class="breadcrumb-item{{ if eq .p1 .p2 }}  active" aria-current="page"{{else}}"{{ end }}>
          <span class="text-white">
            {{.p1.Name}}
          </span>
        </li>
        {{ end }}
        {{ end }}

      </div>
      <div class="col-auto">

        <!-- Toggler -->
        <div class="navbar-dark">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenavCollapse" aria-controls="sidenavCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</nav>
