{{ range .Site.Menus.withdescription }}
  {{ if .HasChildren }}
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" id="navbar{{ .Name }}" data-toggle="dropdown" href="{{ .URL | absURL }}" aria-haspopup="true" aria-expanded="false">
        {{ .Name }}
      </a>
      <div class="dropdown-menu dropdown-menu-md" aria-labelledby="navbarDocumentation">
        <div class="list-group list-group-flush">
          {{ range $idx, $child := .Children }}
            {{ $dict := dict "identifier" .Identifier }}
            <a class="list-group-item" href="{{ .URL | absURL }}">
              {{ $extras := slice }}
              {{ if $.Site.Data.defaults.menu_extras }}
              {{ $extras = where $.Site.Data.defaults.menu_extras "identifier" .Identifier }}
              {{ end }}

              {{ if gt (len $extras) 0 }}
                {{ $extras = index $extras 0 }}
              {{ end }}

              {{ with .Page }}
                {{ $dict = merge $dict (dict "heading" .Page.Name "badge" .Page.Params.Badge "text" .Page.Params.Summary) }}
              {{ end }}

              {{ with $extras }}
                {{if .summary }}
                  {{ $dict = merge $dict (dict "text" .summary )  }}
                {{ end }}
                {{if .logo }}
                  {{ $dict = merge $dict (dict "logo" .logo )  }}
                {{ end }}
              {{ end }}

              {{ if not $dict.logo }}
                {{ $dict = merge $dict (dict "heading" .Name) }}
              {{ end }}
              {{/* {{ printf "%s" $dict }} */}}
              {{ template "withdesc_content" ( $dict )}}
             </a>
           {{ end }}
        </div>
      </div>
    </li>
  {{ else }}
    <li class="nav-item">
      <a class="nav-link" id="navbar{{ .Name }}" href="{{ .URL }}" aria-haspopup="true" aria-expanded="false">
        {{ if $.Site.Data.defaults.menu_extras }}
          {{ range where $.Site.Data.defaults.menu_extras "identifier" .Identifier }}
            {{ if .logo }}
              {{- $linkSVG := resources.Get .logo | resources.ExecuteAsTemplate .logo (dict "height" "24" "width" "100%") | minify | fingerprint -}}
              <img class="img-fluid" src="{{ $linkSVG.Permalink }}">
            {{ end }}
          {{ end }}
        {{ end }}
        {{ .Name }}
      </a>
    </li>
  {{ end }} <!-- End Has.Childrenn -->
{{ end }} <!-- End Site.Menus.nav -->


{{ define "withdesc_content" }}

  <!-- Content -->
  <div class="ml-4">
     {{/* {{ printf "%s" . }} */}}
     <h6 class="font-weight-bold text-uppercase text-primary mb-0">
      {{ if .logo }}
          {{- $linkSVG := resources.Get .logo | resources.ExecuteAsTemplate .logo (dict "height" "24" "width" "100%") | minify | fingerprint -}}
          <img class="" src="{{ $linkSVG.Permalink }}">
      {{ end }}

      {{ if .heading }}
        <!-- Heading -->
          {{ .heading }}
      {{ end }}
    </h6>

    <!-- Text -->
    {{ if .text }}
      <p class="font-size-sm text-gray-700 mb-0">
        {{ .text }}
      </p>
    {{ end }}

  </div>
  {{ if .badge }}
    <!-- Badge -->
      <span class="badge badge-pill badge-primary-soft ml-auto">
        {{ .badge }}
      </span>
  {{ end }}

{{ end }}
