$hint-colors: (
  info: #6bf,
  warning: #fd6,
  danger: #f66
) !default;

.book-hint{
  @each $name, $color in $hint-colors {
    &.#{$name} {
      border-color: $color;
      background-color: rgba($color, 0.1);
    }
  }
}