
<ul class="list-unstyled">
{{ range after 1 (split .Inner "\n-") }}
<li class="d-flex">
  <!-- Check -->
  <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
    <i class="fe fe-check"></i>
  </div>

  <!-- Text -->
  <p>
    {{ printf "%s\n" . | markdownify }}
  </p>
</li>
{{ end }}
</ul>
