<!-- Divider -->
<hr class="hr-md mb-7" />

<!-- Blockquote -->
<blockquote class="blockquote mb-7">
  <p class="h2 mb-0 text-center text-primary-desat">
    {{ .Inner }}
  </p>
</blockquote>

<!-- Divider -->
<hr class="hr-md mb-7" />
