
{{ $client := where $.Site.Data.clients "name" $.Page.Params.client }}
{{ if gt (len $client) 0 }}
{{ $client = index $client 0 }}
{{ end }}
{{if isset $client "reset_color" }}
  {{ .Scratch.Set "CurrentColor" $client.reset_color }}
{{ else }}
  {{ .Scratch.Set "CurrentColor" $client.logo_color }}
{{ end }}

{{ $current_color := .Scratch.Get "CurrentColor" }}

<style type="text/css">
.flickity-prev-next-button {
   background: {{ $current_color }} !important;
}
</style>

<!-- Card -->
<div class="card-row mb-6">
    <div class="pt-4 pt-md-6 pb-4 pb-md-6">


      <!-- Slider -->
      <div data-flickity='{"wrapAround": true, "pageDots": false, "adaptiveHeight": true}' style="flickity-button {background: #333;}">
        {{ range $.Page.Params.testimonials }}
        <div class="w-100">
        <!-- Card -->
        <div class="card-row  card-border shadow-light-lg" style="border-top-color:{{ $current_color }};">
          <div class="card card-body text-center pt-7 pb-">

            <!-- Logo -->
            {{ partial "theme/clients" (dict "page" $.Page "parent_div_class" "" "image_div_class" "img-fluid mb-5 w-25 svg-shim mx-auto" "client" $.Page.Params.client )}}
            <!-- Text -->
            <p class="text-gray-700 font-size-sm mb-5">
              “{{.text}}”
            </p>

            <!-- Footer -->
            <footer class="blockquote-footer">
              <span class="h6 text-uppercase">{{ .author }}</span>
            </footer>

          </div>
        </div>
        </div>

        {{ end }}

      </div>

    </div>
</div>
