
{{ define "post_head_hook" }}
    {{- if default true .Site.Params.BookSearch }}
    {{- $searchJSFile := printf "%s.search.js" .Language.Lang -}}
    {{- $searchJS := resources.Get "search.js" | resources.ExecuteAsTemplate $searchJSFile . | resources.Minify | resources.Fingerprint }}
    <script defer src="{{ $searchJS.RelPermalink }}" integrity="{{ $searchJS.Data.Integrity }}"></script>
    {{ end -}}

    <!-- Removes the topnav in swagger so we can use our title bar -->
    <link rel="stylesheet" href="{{ "css/syntax.css" | absURL }}" />
    <style> .swagger-ui .scheme-container, .swagger-ui .topbar, .swagger-ui .title , .swagger-ui .info{ display: none !important; } </style>
{{ end }}

{{ define "body_class"}}
<body class="bg-{{ .Site.Data.defaults.body_background }} f360-header-space" data-aos-easing="ease-out-quad" data-aos-duration="700" data-aos-delay="0">
{{ end }}

{{ define "main" }}
<!-- <input type="checkbox" class="hidden" id="menu-control" /> -->
<section class="doc-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-3 col-xl-3 px-lg-0 border-bottom border-bottom-lg-0 border-right-lg border-gray-300 sidenav sidenav-left">

        <div class="collapse d-lg-block" id="sidenavCollapse">
          <div class="py-7 py-lg-9 px-lg-7">
            {{ template "menu" . }} <!-- Left menu Content -->
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 col-xl-7 offset-lg-3 offset-xl-3 pb-0 pt-5 px-lg-7 doc-container-content">
        {{ template "article" . }} <!-- Page Content -->
        {{ partial "documentation/footer" }}
      </div>
      <div class="col-12 col-lg-3 col-xl-2 d-none d-lg-block px-lg-0 sidenav sidenav-right">
        <div class="my-7 my-lg-9 px-lg-7 border-left-lg border-gray-300">

          {{ if default true (default .Site.Params.BookToC .Params.BookToC) }}
          {{ if not ( eq (md5 .TableOfContents) "cf557db77df71dc1e00f29f04704b0d9" ) }}
          <!-- Heading -->
          <h6 class="text-uppercase font-weight-bold">
            On this page
          </h6>

          <section class="documentation-toc">
            {{ template "toc" . }} <!-- Table of Contents -->
          </section>
          {{ end }}
          {{ end }}
        </div> <!-- / .row -->
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "menu" }}
  {{ partial "documentation/menu" . }}
{{ end }}

{{ define "article" }}
  <article class="documentation-md">
    {{- .Content -}}
  </article>
{{ end }}

{{ define "toc" }}
  {{ partial "documentation/toc" . }}
{{ end }}

{{ define "footer_class" }}
<footer>
{{ end }}
